* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.attribution {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  height: 100vh;
  display: flex;
  font-family: "Manrope", sans-serif;
  font-size: 13px;
  background-color: hsl(210, 46%, 95%);
}
body .container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 325px;
  border-radius: 10px;
  overflow: hidden;
  background: white;
}
body .container .thumbnail {
  height: 220px;
  overflow: hidden;
}
body .container .thumbnail img {
  width: 100%;
}
body .container .content {
  padding: 40px 30px 20px 30px;
}
body .container .content__title {
  padding-bottom: 15px;
  color: hsl(217, 19%, 35%);
}
body .container .content__text {
  letter-spacing: 0.2px;
  color: hsl(214, 17%, 51%);
}
body .container .author {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
}
body .container .author-avatar {
  margin-left: 30px;
  height: 60%;
  border-radius: 50%;
}
body .container .author-text {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  row-gap: 3px;
  width: 60%;
  float: left;
}
body .container .author-text p {
  flex-wrap: wrap;
  letter-spacing: 0.5px;
}
body .container .author-text .name {
  font-weight: bold;
  color: hsl(217, 19%, 35%);
}
body .container .author-text .date {
  color: hsl(212, 23%, 69%);
}
body .container .author .shareBtn {
  position: absolute;
  right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  border-radius: 17px;
  background-color: hsl(210, 46%, 95%);
  transition: 0.5s ease-out;
  z-index: 10;
  cursor: pointer;
}
body .container .author .activeBtn {
  background-color: hsl(212, 23%, 69%);
}
body .container .author .activeBtn svg path {
  fill: #fff;
}
body .container .social {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 30px;
  height: 70px;
  background-color: hsl(217, 19%, 35%);
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
}
body .container .social p {
  letter-spacing: 5px;
  text-transform: uppercase;
  color: hsl(212, 23%, 69%);
}
body .container .social-links {
  display: flex;
}
body .container .social-links a {
  display: flex;
  margin-left: 15px;
}
body .container .active {
  transform: translateY(0%);
  transition: transform 0.5s ease-in-out;
}

@media (min-width: 800px) {
  body .container {
    display: grid;
    flex-direction: row;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr;
    width: 700px;
    height: 250px;
    overflow: visible;
  }
  body .container .thumbnail {
    overflow: visible;
    grid-row: 1/3;
    grid-column: 1/2;
    align-items: center;
  }
  body .container .thumbnail img {
    height: 250px;
  }
  body .container .content {
    padding-bottom: 10px;
  }
  body .container .author {
    grid-column: 2/3;
    overflow: visible;
  }
  body .container .author .activeBtn {
    background-color: hsl(217, 19%, 35%);
  }
  body .container .social {
    top: -70%;
    right: -13%;
    width: 230px;
    height: 45px;
    border-radius: 10px;
    transform: scale(0);
  }
  body .container .social .pointer {
    position: absolute;
    top: 35px;
    left: 105px;
    transform: rotate(45deg);
    width: 20px;
    height: 20px;
    background-color: hsl(217, 19%, 35%);
    z-index: -1;
  }
  body .container .active {
    transform: scale(1);
  }
}/*# sourceMappingURL=style.css.map */