@import 'colors';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.attribution {
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 11px;
	text-align: center;

	a {
		color: hsl(228, 45%, 44%);
	}
}

body {
	height: 100vh;
	display: flex;
	font-family: 'Manrope', sans-serif;
	font-size: 13px;
	background-color: $lightGrayishBlue;

	.container {
		display: flex;
		flex-direction: column;
		margin: auto;
		width: 325px;
		border-radius: 10px;
		overflow: hidden;
		background: white;

		.thumbnail {
			height: 220px;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.content {
			padding: 40px 30px 20px 30px;

			&__title {
				padding-bottom: 15px;
				color: $veryDarkBlue;
			}

			&__text {
				letter-spacing: 0.2px;
				color: $desaturatedDarkBlue;
			}
		}

		.author {
			position: relative;
			display: flex;
			align-items: center;
			width: 100%;
			height: 70px;

			&-avatar {
				margin-left: 30px;
				height: 60%;
				border-radius: 50%;
			}

			&-text {
				display: flex;
				flex-direction: column;
				margin-left: 15px;
				row-gap: 3px;
				width: 60%;
				float: left;

				p {
					flex-wrap: wrap;
					letter-spacing: 0.5px;
				}

				.name {
					font-weight: bold;
					color: $veryDarkBlue;
				}

				.date {
					color: $grayishBlue;
				}
			}

			.shareBtn {
				position: absolute;
				right: 10%;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 35px;
				width: 35px;
				border-radius: 17px;
				background-color: $lightGrayishBlue;
				transition: 0.5s ease-out;
				z-index: 10;
				cursor: pointer;
			}

			.activeBtn {
				background-color: $grayishBlue;
				svg path {
					fill: #fff;
				}
			}
		}

		.social {
			position: absolute;
			width: 100%;
			display: flex;
			align-items: center;
			padding: 0 30px;
			height: 70px;
			background-color: $veryDarkBlue;
			transform: translateY(100%);
			transition: transform 0.5s ease-in-out;

			p {
				letter-spacing: 5px;
				text-transform: uppercase;
				color: $grayishBlue;
			}

			&-links {
				display: flex;

				a {
					display: flex;
					margin-left: 15px;
				}
			}
		}

		.active {
			transform: translateY(0%);
			transition: transform 0.5s ease-in-out;
		}
	}
}

@media (min-width: 800px) {
	body .container {
		display: grid;
		flex-direction: row;
		grid-template-columns: 2fr 3fr;
		grid-template-rows: 1fr;
		width: 700px;
		height: 250px;
		overflow: visible;

		.thumbnail {
			overflow: visible;
			grid-row: 1/3;
			grid-column: 1/2;
			align-items: center;

			img {
				height: 250px;
			}
		}

		.content {
			padding-bottom: 10px;
		}

		.author {
			grid-column: 2/3;
			overflow: visible;

			.activeBtn {
				background-color: $veryDarkBlue;
			}
		}
		.social {
			top: -70%;
			right: -13%;
			width: 230px;
			height: 45px;
			border-radius: 10px;
			transform: scale(0);

			.pointer {
				position: absolute;
				top: 35px;
				left: 105px;
				transform: rotate(45deg);
				width: 20px;
				height: 20px;
				background-color: $veryDarkBlue;
				z-index: -1;
			}
		}

		.active {
			transform: scale(1);
		}
	}
}
